{% extends "BraincraftedBootstrapBundle:Form:bootstrap.html.twig" %}

{% block form_widget_simple %}
{% spaceless %}
    {% if form.vars.errors|length %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control-danger')|trim }) %}
    {% endif %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block form_errors %}
    {% spaceless %}
        {% set global_errors = global_errors|default(false) %}
        {% set style = style|default(bootstrap_get_style()) %}

        {% if attr.style is defined and attr.style is not empty %}
            {% set style = attr.style %}
        {% endif %}

        {% if errors|length > 0 %}
            {% if global_errors == true %}
                <div class="alert alert-danger">
                    {% for error in errors %}
                    <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% else %}
                {% for error in errors %}
                <span class="form-control-text-danger text-danger">{{ error.message }}</span>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block checkbox_row %}
    {% spaceless %}
        {% set style = style|default(bootstrap_get_style()) %}
        {% set col_size = col_size|default(bootstrap_get_col_size()) %}

        {% if attr.label_col is defined and attr.label_col is not empty %}
            {% set label_col = attr.label_col %}
        {% endif %}
        {% if attr.widget_col is defined and attr.widget_col is not empty %}
            {% set widget_col = attr.widget_col %}
        {% endif %}
        {% if attr.col_size is defined and attr.col_size is not empty %}
            {% set col_size = attr.col_size %}
        {% endif %}
        {% if attr.style is defined and attr.style is not empty %}
            {% set style = attr.style %}
        {% endif %}

        {% set class = '' %}
        {% if align_with_widget is defined or attr.align_with_widget is defined %}
            {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}
            {% set label_col = label_col|default(bootstrap_get_label_col()) %}
            {% set class = 'col-' ~ col_size ~ '-' ~ widget_col ~ ' col-' ~ col_size ~ '-offset-' ~ label_col %}
            <div class="form-group {% if form.vars.errors|length > 0 %} has-danger{% endif %}">
            <div class="{{ class }}">
        {% elseif no_form_group is not defined or no_form_group == false %}
            <div class="form-group{% if form.vars.errors|length > 0 %} has-danger{% endif %}">
        {% endif %}

        {%set checkboxdata %}
            {% if label is not same as (false) %}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% if inline is defined and inline %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' checkbox-inline')|trim}) %}
                {% endif %}
                {% if required %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% endif %}
                {% if label is empty %}
                    {% set label = name|humanize %}
                {% endif %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ block('checkbox_widget') }}
                {{ label|trans({}, translation_domain)|raw -}}
                </label>
            {% else %}
                {{ block('checkbox_widget') }}
            {% endif %}
            {{ form_errors(form) }}
        {% endset %}

        {% if inline is defined and inline %}
            {{ checkboxdata|raw }}
        {% else%}
            <div class="checkbox">{{ checkboxdata|raw }}</div>
        {% endif %}

        {{ block('form_help') }}

        {% if align_with_widget is defined or attr.align_with_widget is defined %}
            </div>
            </div>
        {% elseif no_form_group is not defined or no_form_group == false %}
            </div>
        {% endif %}

        {% if style == 'inline' %}&nbsp;{% endif %}
    {% endspaceless %}
{% endblock checkbox_row %}

{% block radio_row %}
    {% spaceless %}
        {% set class = '' %}

        {% set col_size = col_size|default(bootstrap_get_col_size()) %}

        {% if attr.label_col is defined and attr.label_col is not empty %}
            {% set label_col = attr.label_col %}
        {% endif %}
        {% if attr.widget_col is defined and attr.widget_col is not empty %}
            {% set widget_col = attr.widget_col %}
        {% endif %}
        {% if attr.col_size is defined and attr.col_size is not empty %}
            {% set col_size = attr.col_size %}
        {% endif %}

        {% if align_with_widget is defined or attr.align_with_widget is defined %}
            {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}
            {% set label_col = label_col|default(bootstrap_get_label_col()) %}
            {% set class = ' col-'~ col_size ~ '-' ~ widget_col ~ ' col-' ~ col_size ~ '-offset-' ~ label_col %}
            <div class="form-group {% if form.vars.errors|length > 0 %} has-danger{% endif %}">
            <div class="{{ class }}">
        {% elseif no_form_group is not defined or no_form_group == false %}
            <div class="form-group{% if form.vars.errors|length > 0 %} has-danger{% endif %}">
        {% endif %}

        {%set radiodata %}
            {% if label is not same as (false) %}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% if inline is defined and inline %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' radio-inline')|trim}) %}
                {% endif %}
                {% if required %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% endif %}
                {% if label is empty %}
                    {% set label = name|humanize %}
                {% endif %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ block('radio_widget') }}
                {{ label|trans({}, translation_domain)|raw -}}
                </label>
            {% else %}
                {{ block('radio_widget') }}
            {% endif %}
            {{ form_errors(form) }}
        {% endset %}

        {% if inline is defined and inline %}
            {{ radiodata|raw }}
        {% else%}
            <div class="radio">{{ radiodata|raw }}</div>
        {% endif %}

        {{ block('form_help') }}

        {% if align_with_widget is defined or attr.align_with_widget is defined %}
            </div>
            </div>
        {% elseif no_form_group is not defined or no_form_group == false %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock radio_row %}

{% block form_row %}
    {% spaceless %}
        {% set style = style|default(bootstrap_get_style()) %}
        {% set col_size = col_size|default(bootstrap_get_col_size()) %}

        {% if attr.label_col is defined and attr.label_col is not empty %}
            {% set label_col = attr.label_col %}
        {% endif %}
        {% if attr.widget_col is defined and attr.widget_col is not empty %}
            {% set widget_col = attr.widget_col %}
            {% if label is same as (false) and label_col is defined %}
                {% set widget_col = widget_col + label_col %}
            {% endif %}
        {% endif %}
        {% if attr.col_size is defined and attr.col_size is not empty %}
            {% set col_size = attr.col_size %}
        {% endif %}
        {% if attr.style is defined and attr.style is not empty %}
            {% set style = attr.style %}
        {% endif %}

        {% set label_col = label_col|default(bootstrap_get_label_col()) %}
        {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}

        <div class="form-group{% if form.vars.errors|length > 0 %} has-danger{% endif %}">
            {% if style == 'horizontal' %}
                {{ form_label(form) }}
                <div class="col-{{ col_size }}-{{ widget_col }}">
                    {{ block('form_input_group') }}
                    {{ block('form_help') }}
                    {{ form_errors(form) }}
                </div>
            {% else %}
                {{ form_label(form) }}
                {{ block('form_input_group') }}
                {{ block('form_help') }}
                {{ form_errors(form) }}
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block button_attributes %}
    id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif %}
    {%- for attrname, attrvalue in attr %}{% if attrname != 'icon' %} {{ attrname }}="{{ attrvalue }}"{% endif %}{% endfor %}
{% endblock button_attributes %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty and label is not same as (false) %}
            {% set label = name|humanize %}
        {% endif %}
        {% if type is defined and type == 'submit' %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn')|trim }) %}
        {% else %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn')|trim }) %}
        {% endif %}
        {% if as_link is defined and as_link == true %}
            <a {{ block('button_attributes') }}>{% if attr.icon is defined and attr.icon != '' %}<i class="{{ attr.icon }}" aria-hidden="true"></i> {% endif %}{{ label|trans({}, translation_domain) }}</a>
        {% else %}
            <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if attr.icon is defined and attr.icon != '' %}<i class="{{ attr.icon }}" aria-hidden="true"></i> {% endif %}{{ label|trans({}, translation_domain) }}</button>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block form_label %}
    {% spaceless %}
        {% set col_size = col_size|default(bootstrap_get_col_size()) %}

        {% if attr.label_col is defined and attr.label_col is not empty %}
            {% set label_col = attr.label_col %}
        {% endif %}
        {% if attr.widget_col is defined and attr.widget_col is not empty %}
            {% set widget_col = attr.widget_col %}
        {% endif %}
        {% if attr.col_size is defined and attr.col_size is not empty %}
            {% set col_size = attr.col_size %}
        {% endif %}

        {% if label is not same as (false) %}
            {% set style = style|default(bootstrap_get_style()) %}
            {% set label_col = label_col|default(bootstrap_get_label_col()) %}

            {% if attr.style is defined and attr.style is not empty %}
                {% set style = attr.style %}
            {% endif %}

            {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('') ~ ' form-control-label')|trim }) %}
            {% if style == 'horizontal' %}
                {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('') ~ ' col-' ~ col_size ~ '-' ~ label_col)|trim }) %}
            {% elseif style == 'inline' %}
                {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('') ~ ' sr-only')|trim }) %}
            {% endif %}

            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain)|raw }}</label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block file_widget %}
    {% spaceless %}
        {% set col_size = col_size|default(bootstrap_get_col_size()) %}

        {% if attr.simple_col is defined and attr.simple_col is not empty %}
            {% set simple_col = attr.simple_col %}
        {% endif  %}

        {% if attr.col_size is defined and attr.col_size is not empty %}
            {% set col_size = attr.col_size %}
        {% endif %}

        {% if simple_col is defined %}
            <div class="col-{{ col_size }}-{{ simple_col }}">
        {% endif %}
        <label class="file">
            <input type="file" {{ block('widget_attributes') }}>
            <span class="file-custom"></span>
        </label>
        {% if simple_col is defined %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock file_widget %}