{% extends 'knp_menu.html.twig' %}

{% macro attributes(attributes) %}
    {% for name, value in attributes %}
        {%- if value is not none and value is not same as(false) -%}
            {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{%- block linkElement -%}
    {% import _self as knp_menu %}
    {% set attrs = item.linkAttributes|merge({'class': 'sidebar-menu-button'}) %}
    {% set count = 0 %}
    {%- for child in item.children -%}
        {%- if child.extras.hidden is not defined or not child.extras.hidden -%}{% set count = count + 1 %}{% endif %}
    {%- endfor -%}
    {%- if count > 0 -%}
        {% set attrs = attrs|merge({'data-toggle': 'sidebar-collapse'}) %}
    {%- endif -%}
    <a href="{{ item.uri }}"{{ knp_menu.attributes(attrs) }}>
        {% if item.extras.icon_class is defined %}<i class="sidebar-menu-icon {{ item.extras.icon_class }}" aria-hidden="true"></i>{{ ' ' }}{% endif %}{{ block('label') }}
    </a>
{%- endblock -%}

{%- block spanElement -%}
    {% import _self as knp_menu %}
    {% set attrs = item.labelAttributes|merge({'class': 'sidebar-menu-button'}) %}
    {% set count = 0 %}
    {%- for child in item.children -%}
        {%- if child.extras.hidden is not defined or not child.extras.hidden -%}{% set count = count + 1 %}{% endif %}
    {%- endfor -%}
    {%- if count > 0 -%}
        {% set attrs = attrs|merge({'data-toggle': 'sidebar-collapse'}) %}
    {%- endif -%}
    <span{{ knp_menu.attributes(attrs) }}>
        {% if item.extras.icon_class is defined %}<i class="sidebar-menu-icon {{ item.extras.icon_class }}" aria-hidden="true"></i>{{ ' ' }}{% endif %}{{ block('label') }}
    </span>
{%- endblock -%}

{%- block item -%}
    {%- if item.extras.hidden is not defined or not item.extras.hidden -%}
    {% set class = item.setAttribute('class', 'sidebar-menu-item') %}
    {{ parent() }}
    {%- endif -%}
{%- endblock -%}

{%- block list -%}
{% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
    {% set count = 0 %}
    {%- for child in item.children -%}
        {%- if child.extras.hidden is not defined or not child.extras.hidden -%}{% set count = count + 1 %}{% endif %}
    {%- endfor -%}
    {%- if count > 0 -%}
    <ul {% if item.parent is null %}class="sidebar-menu sm-active-button-bg"{% else %}class="sidebar-submenu"{% endif %}>
        {{ block('children') }}
    </ul>
    {%- endif -%}
{% endif %}
{%- endblock -%}
