{% extends "PanelBundle:Security:layout.html.twig" %}

{% import "PanelBundle:elements:alert.html.twig" as alert %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_attributes %} class="login_screen"{% endblock %}

{% block body %}
    <i class="login_layer" aria-hidden="true"></i>
    <main class="card card_login">
        <div class="card-block">
            {% if error %}
                {{ alert.alert(error.messageKey|trans(error.messageData, 'security'), 'alert-danger', true) }}
            {% endif %}
            <form action="{{ path("panel_login_check") }}" method="post">
                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input class="form-control" type="password" id="password" name="_password" required="required" />
                </div>
                <button class="btn btn-sign-in btn-block btn-lg" type="submit" id="_submit" name="_submit">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    {{ 'security.login.submit'|trans }}
                </button>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            </form>
        </div>
        <footer class="card_login_footer">Virtus Symfony CMF</footer>
    </main>
{% endblock %}
