{% extends 'knp_menu.html.twig' %}

{%- block list -%}
{{ block('children') }}
{%- endblock -%}

{%- block item -%}
    {% if matcher.isCurrent(item) %}
        {% set breadcrumbs = knp_menu_get_breadcrumbs_array(item) %}
        <ol class="breadcrumb breadcrumb--no-margin">
            {% for breadcrumb in breadcrumbs %}
                {% if loop.first %}
                    {% include "PanelBundle:include:breadcrumb-home-icon.html.twig" %}
                {% elseif loop.last %}
                    <li class="active">{{ breadcrumb.label }}</li>
                {% else %}
                    {% if breadcrumb.uri %}
                    <li>
                        <a href="{{ breadcrumb.uri }}">{{ breadcrumb.label }}</a>
                    </li>
                    {% else %}
                    <li class="active">{{ breadcrumb.label }}</li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ol>
    {% endif %}
    {{ block('list') }}
{%- endblock -%}